<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link type="text/css" href="../../css/global.css" rel="stylesheet"/>
  <script type="text/javascript" src="../../js/execute.js"></script>
  <title>
    S2Struts Sample Menu
  </title>
</head>

<body>

<div id="menuBody">
<ul>
<li><a href="#" id="employeePage">Employee Management</a></li>
<li><a href="#" id="logoffPage">Logoff</a></li>
</ul>
</div>

</body>
</html>
