<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link type="text/css" href="../../css/global.css" rel="stylesheet" id="globalStyle"/>
  <script type="text/javascript" src="../../js/execute.js" id="executeJs"></script>
  <title id="pageTitle">
    S2Struts Sample
  </title>
</head>

<body>
<table border="0" cellspacing="5" width="97%">
<tr>
  <td>
    <div id="header">
      <img src="../../images/seasar.gif">
    </div>
  </td>
</tr>
<tr>
  <td>
    <div id="layoutBody">
      DUMMY
    </div>
  </td>
</tr>
<tr>
  <td>
    <hr/>
  </td>
</tr>
<tr>
  <td>
    <div id="footer">
      The Seasar Project
    </div>
  </td>
</tr>
</table>
</body>

</html>