<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=Windows-31j">
  <link href="../../css/global.css" rel="stylesheet" type="text/css"></link>
  <script type="text/javascript" src="../../js/execute.js"></script>
  <title>
    S2Struts Sample Menu
  </title>
</head>

<body>

<div id="menuBody">
<ul>
<li><a href="#" id="addPage">S2Struts Add Application</a></li>
<li><a href="#" id="subtractPage">S2Struts Subtract Application</a></li>
<li><a href="#" id="multiplyPage">S2Struts Multiply Application</a></li>
<li><a href="#" id="dividePage">S2Struts Divide Application</a></li>
<li><a href="#" id="modPage">S2Struts Mod Application</a></li>
<li><a href="#" id="echoPage">S2Struts Echo Application</a></li>
<li><a href="#" id="changeCasePage">S2Struts ChangeCase Application</a></li>
<li><a href="#" id="messagePage">Message Example</a></li>
<li><a href="#" id="validatePage">Validate Example</a></li>
<li><a href="#" id="employeePage">Employee Management</a></li>
</ul>
</div>

</body>
</html>
