<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=Windows-31j">
  <link href="../../css/global.css" rel="stylesheet" type="text/css" id="globalStyle"></link>
  <script type="text/javascript" src="../../js/execute.js" id="executeJs"></script>
  <title id="pageTitle">
    S2Struts Sample
  </title>
</head>

<body>
<table border="0" cellspacing="5" width="97%">
<tr>
  <td colspan="2">
    <div id="header">
      <img src="../../images/seasar.gif">
    </div>
  </td>
</tr>
<tr>
  <td width="200" valign="top">
    <div id="navigation">
      <ul>
        <li><a href="#">MENU 1</a></li>
        <li><a href="#">MENU 2</a></li>
        <li><a href="#">MENU 3</a></li>
      </ul>
    </div>
  </td>

  <td valign="top" align="left">
    <div id="layoutBody">
      DUMMY
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <hr/>
  </td>
</tr>
<tr>
  <td colspan="2">
    <div id="footer">
      The Seasar Project
    </div>
  </td>
</tr>
</table>
</body>

</html>